@using HWParts.Core.Application.ViewModels.Account;
@using HWParts.Core.Infrastructure.Common.Pagination;
@model PaginationObject<AccountViewModel>

@{
    ViewData["Title"] = "Usuários";
}

<h2>@ViewData["Title"]</h2>

<br />

@Html.PaginationElement(Model)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelObject.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelObject.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>