@using HWParts.Core.Application.ViewModels.Memory;
@using HWParts.Core.Infrastructure.Common.Pagination;
@model PaginationObject<MemoryViewModel>

@{
    ViewData["Title"] = "Memórias RAM";
}

<partial name="_TitleAdminComponentPage" />

<partial name="_ActionsAdminComponentIndex" />

<br />

@Html.PaginationElement(Model)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelObject.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelObject.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelObject.Platform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                        <span class="fas fa-edit"></span>
                    </a>
                    <a asp-action="Detail" asp-controller="Memory" asp-route-id="@item.Id" class="btn btn-primary">
                        <span class="fas fa-search"></span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <span class="fas fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>