@using HWParts.Core.Application.ViewModels.GraphicsCard;
@using HWParts.Core.Infrastructure.Common.Pagination;
@model PaginationObject<GraphicsCardViewModel>

@{
    ViewData["Title"] = "Placas de Vídeo";
}

<partial name="_IndexNavtab" />

<div class="mt-45">
    <table class="hw-table">
        <thead class="hw-table-head">
            <tr>
                <th>
                    <div class="hw-table-text">
                        Imagem
                    </div>
                </th>
                <th>
                    <div class="hw-table-text">
                        @Html.DisplayNameFor(model => model.ModelObject.Brand)
                    </div>
                </th>
                <th>
                    <div class="hw-table-text">
                        @Html.DisplayNameFor(model => model.ModelObject.Model)
                    </div>
                </th>
                <th>
                    <div class="hw-table-text">
                        @Html.DisplayNameFor(model => model.ModelObject.Platform)
                    </div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="hw-table-body">
            @foreach (var item in Model.Result)
            {
            <tr class="hw-table-row">
                <td>
                    <img class="hw-table-row-image" src="@item.ImageUrlFirst" />
                </td>
                <td>
                    <p class="hw-table-row-text truncate">
                        @Html.DisplayFor(modelItem => item.Brand)
                    </p>
                </td>
                <td>
                    <p class="hw-table-row-text truncate">
                        @Html.DisplayFor(modelItem => item.Model)
                    </p>
                </td>
                <td>
                    <p class="hw-table-row-text truncate">
                        @Html.DisplayFor(modelItem => item.Platform)
                    </p>
                </td>
                <td>
                    <a asp-action="Detail" asp-controller="GraphicsCard" asp-area="Component" asp-route-id="@item.Id" class="hw-table-row-text-link hw-table-row-text-link-primary">
                        <span class="fas fa-search"></span>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="hw-table-row-text-link hw-table-row-text-link-warning">
                        <span class="fas fa-edit"></span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="hw-table-row-text-link hw-table-row-text-link-danger">
                        <span class="fas fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>